
﻿body {
}

#wrapper{
    border-style: solid;
    width: 1000px;
    margin: auto;
}

header{
    border: thin solid #000000;
    height: 200px;
    text-align: center;
    background-image: url('Images/Header.jpg');
}
nav{
    min-height: 30px;
    border-style: solid;
    border-width: thin;
    padding: 15px 5px 5px 15px;
    background-color: #C0C0C0;
    /*display: inline-block;*/
    /*float: left;*/
}

#login {
    float: right;
    /*margin-bottom: 100px;*/
}

#content{
    border-style: solid;
    border-width: thin;
    padding: 15px;
    min-height: 400px;
}
footer{
    border-style: solid;
    border-width: thin;
    height: 150px;
    text-align: center;
    background-color: #C0C0C0;
    background-image: url('Images/');
    font-family: 'Harlow Solid';
    
}
section{
    padding: 50px;
    font-size: .75em;
    
}
