body {
}

#wrapper{
    border-style: solid;
    width: 1000px;
    margin: auto;
}

header{
    border: thin solid #000000;
    height: 200px;
    text-align: center;
    background-image: url('Images/nuts.jpg');
}
nav{
    /*min-height: 70px;*/border-style: solid;
    border-width: thin;
    padding: 15px 5px 5px 15px;
    background-color: #C0C0C0;
}
#content{
    border-style: solid;
    border-width: thin;
    padding: 15px;
    min-height: 400px;
}
footer{
    border-style: solid;
    border-width: thin;
    height: 50px;
    text-align: center;
    background-color: #C0C0C0;
}
section{
    padding: 50px;
    font-size: .75em;
    
}

