<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=frontboard.db.2823567.hostedresource.com;Persist Security Info=True;User ID=Frontboard;Password=jS735#!dos"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <customErrors mode="Off"/>
      <httpRuntime targetFramework="4.5" />
      <sessionState cookieless="AutoDetect" regenerateExpiredSessionId="true"/>
      <pages theme="Default" />
    </system.web>

</configuration>
