/* Dark Theme */

﻿body {
    background-color: black;
}

#wrapper {
    border-style: solid;
    width: 1000px;
    margin: auto;
}

header {
    border: thin solid black;
    height: 200px;
    text-align: center;
    background-image: url('Images/Header.jpg');
}

nav {
    min-height: 30px;
    border-style: solid;
    border-width: thin;
    padding: 15px 5px 5px 15px;
    background-color: #C0C0C0;
}

#login {
    float: right;
}

#content {
    border-style: solid;
    border-width: thin;
    padding: 15px;
    min-height: 400px;
    background-color: black;
    color: white;
}

footer {
    clear: both;
    border-style: solid;
    border-width: thin;
    height: 150px;
    text-align: center;
    background-color: #C0C0C0;
    background-image: url('Images/');
    font-family: 'Harlow Solid';
}

section {
    padding: 50px;
    font-size: .75em;
}

#floatleft {
    float: left;
    width: 520px;
}

#floatright {
    float: right;
    width: 411px;
    margin-top: 50px;
    margin-right: 15px;
}

th {
    background-color: #CBCBCB;
    color: #000000;
    text-align: center;
    padding: 5px;
}

/*tr {
    background-color:#FFFFFF;
    color:#000000;
}*/

.table {
    margin-left: 50px;
}

.th {
    background-color: #CBCBCB;
    color: #000000;
    font-size: 1.1em;
    text-align: center;
    height: 33px;
}

/*.tr {
    background-color:#FFFFFF;
    color:#000000;
}*/

/*.tr:nth-child(odd) {
    background-color: #DCDCDC;
    color: #000000;
}

.tr:nth-child(even) {
    background-color: #FFF8DC;
    color: #000000;
}*/
